.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 160vh;
  width: 100%;
  background-color: #858585;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  max-width: 1500px;
}

@media screen and (max-width: 992px) {
  .about-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .about-container  {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}




.about-card {
  display: grid;
  margin-top: 2rem;
  height: 500px;
  width: 350px;
  border-radius: 26px;
  justify-items: center;
  color: #111111;
  align-content: space-around;
  box-shadow: 8px 7px 8px -3px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}

.about-card:hover {
  background: #dbdbdb;
}

.title {
  font-size: 16px;
  margin-top: -1rem;
  font-weight: normal;
}
.name {
  font-size: 20px;
  color: #000000;
  margin-top: -3rem;
  margin-bottom: 0rem;
}
.mail {
  font-size: 15px;
  margin-top: -5rem;
  margin-bottom: 0rem;
  font-style: italic;
  font-weight: 300;
}

p {
  font-size: 14px;
  padding: 0.5rem;
  text-align: center;
}
.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6rem;
  width: 90%;
  height: 330px;
}



/*ABOUT BUTTON*/
.aboutBtn {
  position: absolute;
  right: -80px;
  transition: 0.3s;
  padding: 10px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: #dbdbdb;
  border-radius: 5px 0px 0px 5px;
  background: #222222;
  color: #dbdbdb;
  border-color: #dbdbdb;
  text-align: right;
  margin-top: 10px;
}

.aboutBtn:hover {
  right: 0;
  background: #dbdbdb;
  color: #222222;
  border-color: #222222;
}

/*BACK BUTTON*/
.homeBtn {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 10px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: #dbdbdb;
  border-radius: 0px 5px 5px 0px;
  background: #222222;
  color: #dbdbdb;
  border-color: #dbdbdb;
  text-align: left;
  margin-top: 10px;
}

.homeBtn:hover {
  left: 0;
  background: #dbdbdb;
  color: #222222;
  border-color: #222222;
}