.about---container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* height: 160vh; */
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  max-width: 1500px;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.about-card {
  display: grid;
  margin-top: 2rem;
  height: 500px;
  width: 350px;
  border-radius: 26px;
  /*justify-items: center;*/
  color: #111111;
  align-content: space-around;
  box-shadow: 8px 7px 8px -3px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}

/*.about-card:hover {
  background: #dbdbdb;
  color: black;
}*/

.title {
  font-size: 18px;
  margin-top: -1rem;
  font-weight: normal;
  color: #dbdbdb;
  text-align: left;
}
.name {
  font-size: 22px;
  color: #dbdbdb;
  margin-top: -3rem;
  margin-bottom: 0rem;
  text-align: left;
}
.mail {
  font-size: 15px;
  margin-top: -5rem;
  margin-bottom: 0rem;
  font-style: italic;
  font-weight: 300;
  color: #dbdbdb;
  text-align: left;
}

p {
  font-size: 15px;
  padding: 0.5rem;
  text-align: center;
  color: #dbdbdb;
}

.about--text {
  text-align: left;
}
.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6rem;
  width: 90%;
  height: 330px;
  color: #dbdbdb;
}

.yrgolink {
  color: rgb(255, 104, 104);
}

/*ABOUT BUTTON*/
.aboutBtn {
  position: absolute;
  right: -80px;
  transition: 0.3s;
  padding: 10px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: #dbdbdb;
  border-radius: 5px 0px 0px 5px;
  background: #dbdbdb;
  color: #000000;
  border-color: #dbdbdb;
  text-align: right;
  top: 10px;
}

.aboutBtn:hover {
  right: 0;
  background: #151515;
  color: #ffffff;
  border-color: #222222;
}

/*BACK BUTTON*/
.homeBtn {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 10px;
  width: 120px;
  text-decoration: none;
  font-size: 20px;
  color: #dbdbdb;
  border-radius: 0px 5px 5px 0px;
  background: #dbdbdb;
  color: #000000;
  border-color: #dbdbdb;
  text-align: left;
  margin-top: 10px;
}

.homeBtn:hover {
  left: 0;
  background: #151515;
  color: #ffffff;
  border-color: #222222;
}
