* {
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #858585;
}

.loadingScreen {
  text-align: center;
  color: #bcbbbc;
  background-color: #858585;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.loadingScreen div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enterContainer {
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
}

.enterBtn {
  position: absolute;
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  color: white;
  animation: pulsating 2500ms ease-in-out 500ms infinite;
  border-radius: 25px;
  top: calc(50vh - 50px);
  left: calc(50vw - 50px);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutBtn {
}
.unity {
  width: 95%;
  max-width: 2000px;
  /* height: 100%; */
}

.transitionHearts {
  transition: transform 2500ms ease-in-out;
}

.initialLeftHeartPosition {
  transform: translateX(-400px);
}

.initialRightHeartPosition {
  transform: translateX(400px);
}

.finalLeftHeartPosition {
  transform: translateX(1.2px);
}
.finalRightHeartPosition {
  transform: translateX(-1.2px);
}

.pulsatingHeart {
  animation: pulsating 2500ms ease-in-out 500ms infinite;
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
