.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingScreen {
  text-align: center;
  color: #bcbbbc;
  background-color: #1d1d1d;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.loadingScreen div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unity {
  width: 100vw;
  height: 100%;
}

.transitionHearts {
  transition: transform 2500ms ease-in-out;
}

.initialLeftHeartPosition {
  transform: translateX(-400px);
}

.initialRightHeartPosition {
  transform: translateX(400px);
}

.finalLeftHeartPosition {
  transform: translateX(1.5px);
}
.finalRightHeartPosition {
  transform: translateX(-1.5px);
}

.pulsatingHeart {
  animation: pulsating 2500ms ease-in-out 500ms infinite;
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
