.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #858585;
}

.loadingScreen {
  text-align: center;
  color: #bcbbbc;
  background-color: #858585;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.loadingScreen div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enterContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.enterBtn {
  margin-top: 10px;
  height: 20px;
}
.unity {
  width: 95%;
  max-width: 2000px;
  /* height: 100%; */
}

.transitionHearts {
  transition: transform 2500ms ease-in-out;
}

.initialLeftHeartPosition {
  transform: translateX(-400px);
}

.initialRightHeartPosition {
  transform: translateX(400px);
}

.finalLeftHeartPosition {
  transform: translateX(1.5px);
}
.finalRightHeartPosition {
  transform: translateX(-1.5px);
}

.pulsatingHeart {
  animation: pulsating 2500ms ease-in-out 500ms infinite;
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
